- hosts: "{{ host_name }}"
  vars_files:
    - vars/main.yaml
  tasks:
    - name: 1-1 如果不存在则创建 /data/update 目录
      file:
        path: /data/update
        state: directory
        mode: '0755'

    - name: 1-2 分发文件
      copy:
        src: files/install.tar.gz
        dest: /data/update/install.tar.gz

    - name: 1-3 创建临时解压目录
      file:
        path: "/data/tmp_create_game{{ area_id }}/"
        state: directory
        mode: '0755'

    - name: 1-4 解压文件
      unarchive:
        src: /data/update/install.tar.gz
        dest: "/data/tmp_create_game{{ area_id }}/"
        remote_src: yes

    - name: 1-5 删除旧的 last_time.db last_time.db.gc last_time.db.map open_time.lua
      file:
        path: "{{item}}"
        state: absent
      loop:
        - "/data/tmp_create_game{{ area_id }}/lua/config/open_time.lua"
        - "/data/tmp_create_game{{ area_id }}/lua/config/last_time.db"
        - "/data/tmp_create_game{{ area_id }}/lua/config/last_time.db.gc"
        - "/data/tmp_create_game{{ area_id }}/lua/config/last_time.db.map"

    - name: 1-6 修改权限
      shell: |
        find /data/tmp_create_game{{ area_id }} -type f -exec chmod 644 {} \;
        find /data/tmp_create_game{{ area_id }} -type d -exec chmod 755 {} \;

    - name: 1-7 复制 server.app.lua.j2 和 zones.lua.j2
      template:
        src: "{{ item }}.j2"
        dest: "/data/tmp_create_game{{ area_id }}/etc/{{ item }}"
      loop:
        - server.app.lua
        - zones.lua

    - name: 1-8 复制 open_time.lua.j2
      template:
        src: open_time.lua.j2
        dest: "/data/tmp_create_game{{ area_id }}/lua/config/open_time.lua"

    - name: 1-9 增加执行权限
      file:
        path: "{{ item }}"
        mode: '0755'
      loop:
        - "/data/tmp_create_game{{ area_id }}/p8_app_server"
        - "/data/tmp_create_game{{ area_id }}/server.sh"

    - name: 1-10 创建解压目录
      file:
        path: "/data/server{{ area_id }}/game/"
        state: directory
        mode: '0755'

    - name: 1-11 移动目录
      shell: |
        mv /data/tmp_create_game{{ area_id }}/* /data/server{{ area_id }}/game
        rm -rf /data/tmp_create_game{{ area_id }}/

    - name: 1-12 执行 /data/server{{ area_id }}/game/server.sh start
      shell: "./server.sh start"
      args:
        chdir: "/data/server{{ area_id }}/game/"

    - name: 睡 3 秒
      pause:
        seconds: 3

    - name: 1-13 检测进程状态
      shell: "pgrep -f /data/server{{ area_id }}/game/p8_app_server"
      register: start_stat
      ignore_errors: yes

    - name: 1-14 如果检测不到进程，退出剧本
      fail:
        msg: "服务启动失败，已尝试启动但无进程"
      when: start_stat.rc != 0
