-- utf-8

-- 域
domain = "{{ domain }}"
-- 本地地址
ip = "{{ current_ip }}"
-- 端口
port = {{ login_port }}
-- 地址
server = string.format("tcp://0.0.0.0:%d", port)
-- 互联互通
cluster = string.format("tcp://%s:%d", ip, port)
-- 线程数
thread = {{ thread }}
-- 日志配置
logger = "etc/server.log.ini"
-- 时间偏移量
time_offset = 0

-- 服务发现
discovers = {
{% for item in discovers %}
    "tcp://{{item.zkip}}:{{item.zkport}}",
{% endfor %}
}

-- 登录
login_bind_address = "{{ login_bind_address }}"
login_verify_url = "{{ login_verify_url }}"
login_player_num = 100 * 1000
login_online_player_num = 5 * 1000
login_white_list_cfg = "etc/white_list.txt"
login_limit_create_cfg = "etc/limit_create.txt"

-- 服务列表
services = {
    logins = {},
}
require("etc/server")
