[defaults]
roles_path = ./roles
remote_user = root
timeout = 60
gathering = explicit
host_key_checking = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True
