[Unit]
Description=P8 Game {{ area_id }} Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/game{{ area_id }}
ExecStart=/data/game{{ area_id }}/{{ app_binary }}
ExecReload=/bin/sh -c '/bin/kill -USR1 "$MAINPID"; /bin/sleep 0.5; /bin/kill -USR1 "$MAINPID"'
ExecStop=-/bin/kill -USR2 ${MAINPID}
ExecStop=/bin/sleep 15
KillMode=control-group
KillSignal=SIGKILL
TimeoutStopSec=16s
SuccessExitStatus=SIGKILL
Restart=always
RestartSec=1s
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
