-- utf-8

-- 域
domain = "{{ domain }}"
-- 本地地址
ip = "{{ current_ip }}"
-- 端口
port = {{ game_port }}
-- 地址
server = string.format("tcp://0.0.0.0:%d", port)
-- 互联互通
cluster = string.format("tcp://%s:%d", ip, port)
-- 线程数
thread = 8
-- 日志配置
logger = "etc/server.log.ini"
-- 时间偏移量
time_offset = 0
-- 时区
time_zone = {{ time_zone }}

-- 外部地址
extern_ip = "{{ extern_ip }}"
-- 服务发现
discovers = {
{% for item in discovers %}
    "tcp://{{ item.host }}:{{ item.port }}",
{% endfor %}
}

game_db = {
    ["host"] = "{{ game_db.host }}",
    ["user"] = "{{ game_db.user }}",
    ["password"] = {{ game_db.password | to_json }},
    ["name"] = "{{ game_db.name }}",
}

-- 组编号
group_id = {{ group_id }}
-- 区域编号
area_id = {{ area_id }}

-- 游戏服务
game_index_num = {{ game_index_num }}

require("etc/services")
require("etc/zones")
require("etc/server")
