[defaults]
inventory = ./hosts
remote_user = ubuntu
timeout = 60
gathering = explicit
deprecation_warnings = False
host_key_checking = False
forks = 10
strategy = free

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
