---
- name: 0-1检查文件夹是否存在
  stat:
    path: /data/server
  register: folder_status

- name: 0-2当文件夹不存在时退出剧本
  fail:
    msg: "目录 /data/server 不存在，终止剧本执行。"
  when: not folder_status.stat.exists

- name: 1-1分发create文件
  copy:
    src: limit_create.txt
    dest: /data/server/login/etc/limit_create.txt

- name: 1-2执行server.sh
  shell: "cd /data/server/login/ && ./server.sh reload && sleep 3"